In [78]:
import pandas as pd
import numpy as np
import math

## Import dataset

In [79]:
df=pd.read_csv('dataset_output/raw_training_data_cleaned_up.csv')

## Shuffle dataset and reset index
reset_index tells Pandas to replace the existing index column instead of creating a new one.

frac is the fraction of rows to return; in this case 100% of them, in random order

In [80]:
df = df.sample(frac=1).reset_index(drop=True)

In [81]:
df

,Unnamed: 0,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide.metformin,glipizide.metformin,glimepiride.pioglitazone,metformin.rosiglitazone,metformin.pioglitazone,change,diabetesMed,readmitted
0,61780,172635228,85974372,3,1,8,1,11,7,14,...,1,1,1,1,1,1,1,0,1,0
1,39087,121936098,94086738,3,2,6,1,1,7,2,...,1,2,1,1,1,1,1,1,1,0
2,48899,148848666,25198893,1,2,6,3,1,4,1,...,1,3,1,1,1,1,1,1,1,0
3,87818,281842560,44044362,3,2,6,1,7,7,1,...,1,4,1,1,1,1,1,1,1,2
4,4163,24149970,15988968,3,2,6,1,1,7,4,...,1,1,1,1,1,1,1,0,1,0
5,43773,135342408,75976047,1,1,6,1,1,7,1,...,1,1,1,1,1,1,1,0,0,0
6,90487,298350728,64564542,3,2,7,2,3,5,3,...,1,3,1,1,1,1,1,0,1,1
7,55571,160688760,54272547,3,1,7,5,6,1,6,...,1,3,1,1,1,1,1,0,1,2
8,53257,156627498,65012598,3,1,7,2,1,1,4,...,1,1,1,1,1,1,1,0,0,0
9,76773,232658508,44317233,3,1,8,3,1,1,1,...,1,1,1,1,1,1,1,1,1,0
10,57276,163675704,43503363,3,1,7,3,6,1,11,...,1,2,1,1,1,1,1,1,1,0
11,56733,162850254,27800541,3,1,9,2,6,7,6,...,1,1,1,1,1,1,1,0,1,2
12,21920,76031604,100178262,3,2,6,3,1,1,6,...,1,1,1,1,1,1,1,0,0,2
13,26080,86307186,59799645,3,2,8,1,11,7,1,...,1,4,1,1,1,1,1,1,1,0
14,21503,74950536,19655577,3,2,7,2,1,1,11,...,1,4,1,1,1,1,1,1,1,0
15,52403,155330586,63136638,3,1,6,1,1,7,4,...,1,3,1,1,1,1,1,0,1,2
16,81486,253285188,85360140,3,1,7,1,1,7,9,...,1,1,1,1,1,1,1,0,0,2
17,27621,90559158,81002970,3,2,8,2,1,1,2,...,1,1,1,1,1,1,1,0,1,2
18,86617,276086538,84459447,3,1,5,1,3,7,5,...,1,1,1,1,1,1,1,0,0,2
19,1859,12117522,4182246,3,1,9,1,3,7,13,...,1,2,1,1,1,1,1,1,1,0
20,24400,82724406,236196,3,2,7,3,1,4,3,...,1,1,1,1,1,1,1,0,1,0
21,93844,342602738,38346894,6,1,9,3,3,1,11,...,1,3,1,1,1,1,1,0,1,0
22,167,2532486,2038905,3,1,6,6,25,1,6,...,1,1,1,1,1,1,1,0,0,0
23,65848,184193064,23274171,3,2,8,3,3,1,5,...,1,1,1,1,1,1,1,0,0,0
24,41142,127655412,40675815,3,1,8,3,1,1,14,...,1,3,1,1,1,1,1,0,1,2
25,49024,149091294,92072232,3,2,6,1,1,7,2,...,1,1,1,1,1,1,1,1,1,2
26,42078,130121652,84614526,3,1,7,1,1,7,6,...,1,1,1,1,1,1,1,0,0,0
27,32340,103369182,18279927,3,1,6,2,1,1,2,...,1,3,1,1,1,1,1,0,1,0
28,45538,140954886,58835466,3,2,7,3,1,1,1,...,1,1,1,1,1,1,1,0,1,2
29,17026,63162738,24199758,3,2,5,5,1,17,3,...,1,3,1,1,1,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100672,24277,82468116,23906223,3,2,5,5,1,17,1,...,1,2,1,1,1,1,1,1,1,0
100673,35527,110171028,24241779,3,1,9,3,1,1,2,...,1,3,1,1,1,1,1,1,1,0
100674,15926,60481206,95851476,3,2,8,6,1,17,9,...,1,3,1,1,1,1,1,0,1,2
100675,95725,367356290,88561998,1,1,6,1,1,7,3,...,1,1,1,1,1,1,1,0,0,0
100676,88247,284109186,88785891,3,1,3,1,1,7,3,...,1,4,1,1,1,1,1,1,1,2
100677,62428,174288144,53571114,3,2,7,1,1,7,5,...,1,3,1,1,1,1,1,1,1,2
100678,32023,102614856,23239827,1,1,6,1,1,7,5,...,1,1,1,1,1,1,1,0,0,2
100679,56457,162335136,57886317,1,2,6,1,1,7,7,...,1,3,1,1,1,1,1,0,1,2
100680,70555,203220372,31492026,3,2,8,5,1,1,4,...,1,2,1,1,1,1,1,1,1,2
100681,43179,133494900,25078572,1,1,7,1,1,7,1,...,1,3,1,1,1,1,1,0,1,0
100682,42537,131405022,87317316,1,2,7,1,1,7,8,...,1,2,1,1,1,1,1,1,1,2
100683,79964,246515208,41446881,3,1,10,1,3,7,1,...,1,1,1,1,1,1,1,0,0,1
100684,45629,141207198,46647954,3,1,8,1,1,7,3,...,1,1,1,1,1,1,1,0,0,0
100685,82804,258996846,38535849,6,1,8,1,1,7,2,...,1,3,1,1,1,1,1,1,1,0
100686,12592,51077898,4251672,1,2,7,1,2,7,6,...,1,3,1,1,1,1,1,0,1,1
100687,64511,179952252,77387589,1,2,7,1,1,7,5,...,1,3,1,1,1,1,1,1,1,0
100688,26548,87485808,4660263,6,1,5,1,1,6,7,...,1,3,1,1,1,1,1,1,1,0
100689,7380,35029554,1004877,1,1,6,1,1,7,3,...,1,1,1,1,1,1,1,0,1,0
100690,65123,181835298,112879638,3,2,7,1,1,7,2,...,1,1,1,1,1,1,1,0,1,0
100691,18120,65961696,312183,1,1,9,1,3,7,4,...,1,3,1,1,1,1,1,1,1,1
100692,4935,26775234,23530950,3,2,8,5,6,17,4,...,1,1,1,1,1,1,1,0,0,2
100693,81260,252179430,32240799,3,1,8,1,13,7,6,...,1,2,1,1,1,1,1,1,1,2
100694,66136,184960266,31058469,3,2,9,1,6,1,3,...,1,2,1,1,1,1,1,1,1,0
100695,4452,25142346,18058572,3,2,6,2,1,4,2,...,1,1,1,1,1,1,1,0,0,0
100696,65001,181482732,25194987,1,1,8,1,1,7,1,...,1,1,1,1,1,1,1,0,1,0
100697,95575,365525162,141455597,4,2,6,3,6,1,6,...,1,1,1,1,1,1,1,1,1,0
100698,18682,67325202,4999527,3,2,8,2,1,1,2,...,1,1,1,1,1,1,1,0,1,0
100699,34684,108434754,6560694,3,2,9,1,1,6,2,...,1,1,1,1,1,1,1,0,0,0
100700,52487,155383932,59378544,3,2,8,2,1,4,3,...,1,1,1,1,1,1,1,0,0,0
100701,34804,108675258,100596168,1,1,9,2,22,7,6,...,1,1,3,1,1,1,1,0,1,2

## Clean up the dataframe a bit

In [82]:
df.rename(columns={'glyburide.metformin':'glyburide_metformin', 
                   'glipizide.metformin':'glipizide_metformin',
                   'glimepiride.pioglitazone':'glimepiride_pioglitazone', 
                   'metformin.rosiglitazone':'metformin_rosiglitazone',
                   'metformin.pioglitazone':'metformin_pioglitazone'}, 
          inplace=True)

In [83]:
X = df.drop(['Unnamed: 0', 'encounter_id','patient_nbr'], axis=1, inplace=True)

In [84]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100702 entries, 0 to 100701
Data columns (total 45 columns):
race                        100702 non-null int64
gender                      100702 non-null int64
age                         100702 non-null int64
admission_type_id           100702 non-null int64
discharge_disposition_id    100702 non-null int64
admission_source_id         100702 non-null int64
time_in_hospital            100702 non-null int64
num_lab_procedures          100702 non-null int64
num_procedures              100702 non-null int64
num_medications             100702 non-null int64
number_outpatient           100702 non-null int64
number_emergency            100702 non-null int64
number_inpatient            100702 non-null int64
diag_1                      100702 non-null int64
diag_2                      100702 non-null int64
diag_3                      100702 non-null int64
number_diagnoses            100702 non-null int64
max_glu_serum               100702 non-null int64
A1Cresult                   100702 non-null int64
metformin                   100702 non-null int64
repaglinide                 100702 non-null int64
nateglinide                 100702 non-null int64
chlorpropamide              100702 non-null int64
glimepiride                 100702 non-null int64
acetohexamide               100702 non-null int64
glipizide                   100702 non-null int64
glyburide                   100702 non-null int64
tolbutamide                 100702 non-null int64
pioglitazone                100702 non-null int64
rosiglitazone               100702 non-null int64
acarbose                    100702 non-null int64
miglitol                    100702 non-null int64
troglitazone                100702 non-null int64
tolazamide                  100702 non-null int64
examide                     100702 non-null int64
citoglipton                 100702 non-null int64
insulin                     100702 non-null int64
glyburide_metformin         100702 non-null int64
glipizide_metformin         100702 non-null int64
glimepiride_pioglitazone    100702 non-null int64
metformin_rosiglitazone     100702 non-null int64
metformin_pioglitazone      100702 non-null int64
change                      100702 non-null int64
diabetesMed                 100702 non-null int64
readmitted                  100702 non-null int64
dtypes: int64(45)
memory usage: 34.6 MB

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,citoglipton,insulin,glyburide_metformin,glipizide_metformin,glimepiride_pioglitazone,metformin_rosiglitazone,metformin_pioglitazone,change,diabetesMed,readmitted
0,3,1,8,1,11,7,14,52,0,26,...,1,1,1,1,1,1,1,0,1,0
1,3,2,6,1,1,7,2,28,0,12,...,1,2,1,1,1,1,1,1,1,0
2,1,2,6,3,1,4,1,17,4,12,...,1,3,1,1,1,1,1,1,1,0
3,3,2,6,1,7,7,1,34,0,13,...,1,4,1,1,1,1,1,1,1,2
4,3,2,6,1,1,7,4,55,5,20,...,1,1,1,1,1,1,1,0,1,0
5,1,1,6,1,1,7,1,57,0,6,...,1,1,1,1,1,1,1,0,0,0
6,3,2,7,2,3,5,3,44,0,19,...,1,3,1,1,1,1,1,0,1,1
7,3,1,7,5,6,1,6,65,1,26,...,1,3,1,1,1,1,1,0,1,2
8,3,1,7,2,1,1,4,39,0,10,...,1,1,1,1,1,1,1,0,0,0
9,3,1,8,3,1,1,1,33,6,7,...,1,1,1,1,1,1,1,1,1,0
10,3,1,7,3,6,1,11,49,0,22,...,1,2,1,1,1,1,1,1,1,0
11,3,1,9,2,6,7,6,58,0,14,...,1,1,1,1,1,1,1,0,1,2
12,3,2,6,3,1,1,6,28,3,9,...,1,1,1,1,1,1,1,0,0,2
13,3,2,8,1,11,7,1,65,0,8,...,1,4,1,1,1,1,1,1,1,0
14,3,2,7,2,1,1,11,64,1,30,...,1,4,1,1,1,1,1,1,1,0
15,3,1,6,1,1,7,4,57,0,14,...,1,3,1,1,1,1,1,0,1,2
16,3,1,7,1,1,7,9,47,1,24,...,1,1,1,1,1,1,1,0,0,2
17,3,2,8,2,1,1,2,47,0,7,...,1,1,1,1,1,1,1,0,1,2
18,3,1,5,1,3,7,5,45,2,20,...,1,1,1,1,1,1,1,0,0,2
19,3,1,9,1,3,7,13,73,1,31,...,1,2,1,1,1,1,1,1,1,0
20,3,2,7,3,1,4,3,22,3,11,...,1,1,1,1,1,1,1,0,1,0
21,6,1,9,3,3,1,11,69,0,22,...,1,3,1,1,1,1,1,0,1,0
22,3,1,6,6,25,1,6,38,2,14,...,1,1,1,1,1,1,1,0,0,0
23,3,2,8,3,3,1,5,28,5,27,...,1,1,1,1,1,1,1,0,0,0
24,3,1,8,3,1,1,14,49,0,9,...,1,3,1,1,1,1,1,0,1,2
25,3,2,6,1,1,7,2,58,0,14,...,1,1,1,1,1,1,1,1,1,2
26,3,1,7,1,1,7,6,29,1,12,...,1,1,1,1,1,1,1,0,0,0
27,3,1,6,2,1,1,2,27,0,8,...,1,3,1,1,1,1,1,0,1,0
28,3,2,7,3,1,1,1,33,6,11,...,1,1,1,1,1,1,1,0,1,2
29,3,2,5,5,1,17,3,9,1,18,...,1,3,1,1,1,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100672,3,2,5,5,1,17,1,18,0,6,...,1,2,1,1,1,1,1,1,1,0
100673,3,1,9,3,1,1,2,41,0,10,...,1,3,1,1,1,1,1,1,1,0
100674,3,2,8,6,1,17,9,73,5,30,...,1,3,1,1,1,1,1,0,1,2
100675,1,1,6,1,1,7,3,62,0,17,...,1,1,1,1,1,1,1,0,0,0
100676,3,1,3,1,1,7,3,63,0,15,...,1,4,1,1,1,1,1,1,1,2
100677,3,2,7,1,1,7,5,57,1,18,...,1,3,1,1,1,1,1,1,1,2
100678,1,1,6,1,1,7,5,43,3,33,...,1,1,1,1,1,1,1,0,0,2
100679,1,2,6,1,1,7,7,78,5,24,...,1,3,1,1,1,1,1,0,1,2
100680,3,2,8,5,1,1,4,1,1,22,...,1,2,1,1,1,1,1,1,1,2
100681,1,1,7,1,1,7,1,37,0,10,...,1,3,1,1,1,1,1,0,1,0
100682,1,2,7,1,1,7,8,60,0,15,...,1,2,1,1,1,1,1,1,1,2
100683,3,1,10,1,3,7,1,42,2,14,...,1,1,1,1,1,1,1,0,0,1
100684,3,1,8,1,1,7,3,61,0,3,...,1,1,1,1,1,1,1,0,0,0
100685,6,1,8,1,1,7,2,30,0,15,...,1,3,1,1,1,1,1,1,1,0
100686,1,2,7,1,2,7,6,49,0,15,...,1,3,1,1,1,1,1,0,1,1
100687,1,2,7,1,1,7,5,63,0,11,...,1,3,1,1,1,1,1,1,1,0
100688,6,1,5,1,1,6,7,33,0,12,...,1,3,1,1,1,1,1,1,1,0
100689,1,1,6,1,1,7,3,43,0,12,...,1,1,1,1,1,1,1,0,1,0
100690,3,2,7,1,1,7,2,79,0,13,...,1,1,1,1,1,1,1,0,1,0
100691,1,1,9,1,3,7,4,61,1,8,...,1,3,1,1,1,1,1,1,1,1
100692,3,2,8,5,6,17,4,15,1,10,...,1,1,1,1,1,1,1,0,0,2
100693,3,1,8,1,13,7,6,59,0,13,...,1,2,1,1,1,1,1,1,1,2
100694,3,2,9,1,6,1,3,50,0,18,...,1,2,1,1,1,1,1,1,1,0
100695,3,2,6,2,1,4,2,13,5,7,...,1,1,1,1,1,1,1,0,0,0
100696,1,1,8,1,1,7,1,37,0,7,...,1,1,1,1,1,1,1,0,1,0
100697,4,2,6,3,6,1,6,29,2,13,...,1,1,1,1,1,1,1,1,1,0
100698,3,2,8,2,1,1,2,46,1,17,...,1,1,1,1,1,1,1,0,1,0
100699,3,2,9,1,1,6,2,67,0,5,...,1,1,1,1,1,1,1,0,0,0
100700,3,2,8,2,1,4,3,13,6,12,...,1,1,1,1,1,1,1,0,0,0
100701,1,1,9,2,22,7,6,63,0,17,...,1,1,3,1,1,1,1,0,1,2

#### All columns are using encoded int's. Great!

# Random forest

#### How to pick parameters: http://scikit-learn.org/stable/modules/ensemble.html#parameters

It's interesting that scikit-learn uses randomly selected features to determine how to split a node when constructing a tree (http://scikit-learn.org/stable/modules/ensemble.html#random-forests)

In [138]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import log_loss

### 1) Construct training, testing and validation sets

In [93]:
TRAIN_SPLIT = 0.8
# TODO: validation set
#VALIDATION_PCT = 0.2 # 20% of the training set will be the validation set
num_rows = len(df)
training_set = df[: math.floor(TRAIN_SPLIT * num_rows)]
#validation_set = df[: math.floor(VALIDATION_PCT * num_rows)]
test_set = df[math.floor((TRAIN_SPLIT) * num_rows) :]

# Sanity check
print(num_rows, len(training_set), len(test_set))

100702 80561 20141

### 2) Extract input and output features

In [130]:
# We want every column other than the admission and disposition id's
all_features = df.axes[1]
in_features = all_features[:3].union(all_features[5:])
out_features = all_features.difference(in_features)

### 3) Run RandomForestClassifier

In [136]:
classifier = RandomForestClassifier(n_estimators=25, verbose = 2)
classifier.fit(training_set[in_features], training_set[out_features])

building tree 1 of 25

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.3s remaining:    0.0s

building tree 2 of 25
building tree 3 of 25
building tree 4 of 25
building tree 5 of 25
building tree 6 of 25
building tree 7 of 25
building tree 8 of 25
building tree 9 of 25
building tree 10 of 25
building tree 11 of 25
building tree 12 of 25
building tree 13 of 25
building tree 14 of 25
building tree 15 of 25
building tree 16 of 25
building tree 17 of 25
building tree 18 of 25
building tree 19 of 25
building tree 20 of 25
building tree 21 of 25
building tree 22 of 25
building tree 23 of 25
building tree 24 of 25
building tree 25 of 25

[Parallel(n_jobs=1)]: Done  25 out of  25 | elapsed:    7.6s finished

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=25, n_jobs=1, oob_score=False, random_state=None,
            verbose=2, warm_start=False)

### 4) Evaluate our classification model

## Models to try:
Random forest

Adaboost

Gradient Tree Boosting 

Try VotingClassifier from scikit at the end


## Things to try:
predict time in hospital