In [34]:
import pandas as pd

## Import dataset

In [35]:
df=pd.read_csv('dataset_output/raw_training_data_cleaned_up.csv')

In [36]:
df

,Unnamed: 0,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,insulin,glyburide.metformin,glipizide.metformin,glimepiride.pioglitazone,metformin.rosiglitazone,metformin.pioglitazone,change,diabetesMed,readmitted,total_visits
0,1,2278392,8222157,3,1,1,6,25,1,1,...,1,1,1,1,1,1,0,0,0,0
1,2,149190,55629189,3,1,2,1,1,7,3,...,4,1,1,1,1,1,1,1,2,0
2,3,64410,86047875,1,1,3,1,1,7,2,...,1,1,1,1,1,1,0,1,0,3
3,4,500364,82442376,3,2,4,1,1,7,2,...,4,1,1,1,1,1,1,1,0,0
4,5,16680,42519267,3,2,5,1,1,7,1,...,3,1,1,1,1,1,1,1,0,0
5,6,35754,82637451,3,2,6,2,1,2,3,...,3,1,1,1,1,1,0,1,2,0
6,7,55842,84259809,3,2,7,3,1,2,4,...,3,1,1,1,1,1,1,1,0,0
7,8,63768,114882984,3,2,8,1,1,7,5,...,1,1,1,1,1,1,0,1,2,0
8,9,12522,48330783,3,1,9,2,1,4,13,...,3,1,1,1,1,1,1,1,0,0
9,10,15738,63555939,3,1,10,3,3,4,12,...,3,1,1,1,1,1,1,1,0,0
10,11,28236,89869032,1,1,5,1,1,7,9,...,3,1,1,1,1,1,0,1,2,0
11,12,36900,77391171,1,2,7,2,1,4,7,...,3,1,1,1,1,1,1,1,1,0
12,13,40926,85504905,3,1,5,1,3,7,7,...,2,1,1,1,1,1,1,1,1,1
13,14,42570,77586282,3,2,9,1,6,7,10,...,3,1,1,1,1,1,0,1,0,0
14,15,62256,49726791,1,1,7,3,1,2,1,...,3,1,1,1,1,1,0,1,2,0
15,16,73578,86328819,1,2,7,1,3,7,12,...,4,1,1,1,1,1,1,1,0,0
16,17,84222,108662661,3,1,6,1,1,7,3,...,1,1,1,1,1,1,0,1,0,0
17,18,89682,107389323,1,2,8,1,1,7,5,...,3,1,1,1,1,1,0,1,2,0
18,19,148530,69422211,6,2,8,3,6,2,6,...,3,1,1,1,1,1,1,1,0,0
19,20,150006,22864131,6,1,6,2,1,4,2,...,2,1,1,1,1,1,1,1,0,0
20,21,150048,21239181,6,2,7,2,1,4,2,...,3,1,1,1,1,1,1,1,0,0
21,22,182796,63000108,1,1,8,2,1,4,2,...,1,1,1,1,1,1,0,0,0,0
22,23,183930,107400762,3,1,9,2,6,1,11,...,1,1,1,1,1,1,0,0,2,0
23,24,216156,62718876,1,1,8,3,1,2,3,...,3,1,1,1,1,1,1,1,0,0
24,25,221634,21861756,5,1,6,1,1,7,1,...,1,1,1,1,1,1,0,1,0,0
25,26,236316,40523301,3,2,9,1,3,7,6,...,1,1,1,1,1,1,1,1,0,0
26,27,248916,115196778,3,1,6,1,1,1,2,...,3,1,1,1,1,1,0,1,2,0
27,28,250872,41606064,3,2,3,2,1,2,10,...,2,1,1,1,1,1,1,1,2,0
28,29,252822,18196434,3,1,9,1,2,7,5,...,1,1,1,1,1,1,1,1,2,0
29,30,253380,56480238,1,1,7,1,1,7,6,...,3,1,1,1,1,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100672,100673,443700206,60201405,4,2,4,3,3,1,5,...,1,1,1,1,1,1,1,1,0,0
100673,100674,443700698,69505299,3,1,8,1,1,7,2,...,2,1,1,1,1,1,1,1,1,0
100674,100675,443718458,174477542,3,1,8,3,1,1,4,...,1,1,1,1,1,1,0,1,0,0
100675,100676,443721236,38726739,1,1,8,1,1,7,3,...,1,1,1,1,1,1,0,0,0,1
100676,100677,443724206,124767527,3,2,6,1,1,7,4,...,4,1,1,1,1,1,1,1,0,0
100677,100678,443728472,178662695,6,1,8,2,1,1,4,...,3,3,1,1,1,1,1,1,1,0
100678,100679,443729846,174755165,3,1,9,1,1,7,6,...,3,1,1,1,1,1,1,1,0,0
100679,100683,443775086,125764160,3,1,5,3,1,1,4,...,3,1,1,1,1,1,1,1,0,0
100680,100684,443775482,95780439,3,2,8,1,1,7,1,...,1,1,1,1,1,1,0,1,0,2
100681,100685,443775740,30656952,1,2,8,1,1,7,1,...,3,1,1,1,1,1,0,1,0,4
100682,100686,443778398,134647673,3,2,5,3,1,1,1,...,3,1,1,1,1,1,1,1,0,0
100683,100687,443787128,58160520,1,2,10,1,3,7,4,...,1,1,1,1,1,1,0,0,0,1
100684,100688,443793668,47293812,3,2,9,1,13,7,3,...,2,1,1,1,1,1,1,1,0,2
100685,100689,443793992,43686936,3,1,9,1,1,7,1,...,1,1,1,1,1,1,0,0,0,0
100686,100690,443797076,183766055,3,2,6,2,1,1,3,...,1,1,1,1,1,1,1,1,0,1
100687,100691,443797298,89955270,3,2,8,1,1,7,4,...,1,1,1,1,1,1,0,1,1,1
100688,100692,443804570,33230016,3,1,8,1,22,7,8,...,3,1,1,1,1,1,0,1,2,0
100689,100693,443811536,189481478,3,1,5,1,4,7,14,...,2,1,1,1,1,1,1,1,2,0
100690,100694,443816024,106392411,3,1,8,3,6,1,3,...,3,1,1,1,1,1,1,1,0,1
100691,100695,443835140,175326800,3,2,8,3,6,1,13,...,4,1,1,1,1,1,1,1,0,0
100692,100696,443835512,139605341,5,1,5,3,1,1,3,...,3,1,1,1,1,1,1,1,0,0
100693,100697,443841992,184875899,5,2,5,1,1,7,13,...,2,1,1,1,1,1,1,1,0,0
100694,100698,443842016,183087545,3,1,8,1,1,7,9,...,3,1,1,1,1,1,1,1,2,0
100695,100699,443842022,188574944,5,1,5,1,1,7,14,...,4,1,1,1,1,1,1,1,2,1
100696,100700,443842070,140199494,5,1,7,1,1,7,2,...,3,1,1,1,1,1,0,1,2,3
100697,100701,443842136,181593374,3,1,8,1,1,7,5,...,3,1,1,1,1,1,0,1,0,1
100698,100702,443842340,120975314,3,1,9,1,1,7,5,...,4,1,1,1,1,1,1,1,0,1
100699,100703,443842778,86472243,3,2,9,1,1,7,1,...,4,1,1,1,1,1,1,1,0,3
100700,100704,443854148,41088789,3,2,8,1,1,7,1,...,2,1,1,1,1,1,1,1,0,1
100701,100705,443867222,175429310,3,2,8,1,1,7,6,...,1,1,1,1,1,1,0,0,0,0

## Do some modifications to the dataframe

In [37]:
df.rename(columns={'glyburide.metformin':'glyburide_metformin', 
                   'glipizide.metformin':'glipizide_metformin',
                   'glimepiride.pioglitazone':'glimepiride_pioglitazone', 
                   'metformin.rosiglitazone':'metformin_rosiglitazone',
                   'metformin.pioglitazone':'metformin_pioglitazone'}, 
          inplace=True)

In [38]:
X = df.drop(['Unnamed: 0', 'encounter_id','patient_nbr'], axis=1, inplace=True)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100702 entries, 0 to 100701
Data columns (total 46 columns):
race                        100702 non-null int64
gender                      100702 non-null int64
age                         100702 non-null int64
admission_type_id           100702 non-null int64
discharge_disposition_id    100702 non-null int64
admission_source_id         100702 non-null int64
time_in_hospital            100702 non-null int64
num_lab_procedures          100702 non-null int64
num_procedures              100702 non-null int64
num_medications             100702 non-null int64
number_outpatient           100702 non-null int64
number_emergency            100702 non-null int64
number_inpatient            100702 non-null int64
diag_1                      100702 non-null int64
diag_2                      100702 non-null int64
diag_3                      100702 non-null int64
number_diagnoses            100702 non-null int64
max_glu_serum               100702 non-null int64
A1Cresult                   100702 non-null int64
metformin                   100702 non-null int64
repaglinide                 100702 non-null int64
nateglinide                 100702 non-null int64
chlorpropamide              100702 non-null int64
glimepiride                 100702 non-null int64
acetohexamide               100702 non-null int64
glipizide                   100702 non-null int64
glyburide                   100702 non-null int64
tolbutamide                 100702 non-null int64
pioglitazone                100702 non-null int64
rosiglitazone               100702 non-null int64
acarbose                    100702 non-null int64
miglitol                    100702 non-null int64
troglitazone                100702 non-null int64
tolazamide                  100702 non-null int64
examide                     100702 non-null int64
citoglipton                 100702 non-null int64
insulin                     100702 non-null int64
glyburide_metformin         100702 non-null int64
glipizide_metformin         100702 non-null int64
glimepiride_pioglitazone    100702 non-null int64
metformin_rosiglitazone     100702 non-null int64
metformin_pioglitazone      100702 non-null int64
change                      100702 non-null int64
diabetesMed                 100702 non-null int64
readmitted                  100702 non-null int64
total_visits                100702 non-null int64
dtypes: int64(46)
memory usage: 35.3 MB

#### All columns are using encoded int's. Great!

## How to pick parameters: http://scikit-learn.org/stable/modules/ensemble.html#parameters

#### It's interesting that scikit-learn uses randomly selected features to determine how to split a node when constructing a tree (http://scikit-learn.org/stable/modules/ensemble.html#random-forests)

## Models to try:
Random forest

Adaboost

Gradient Tree Boosting